CLIENT_GATEWAY_PORT=3010


# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=ASD123


STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel


# https://dashboard.stripe.com/test/webhooks
# Signing secret de stripe
WEBHOOK_SECRET=


AUTH_DATABASE_MONGO_URL=mongodb+srv://*****:******@auth-ms-db.fqxd77h.mongodb.net/AuthDB

JWT_SECRET=debeSerSeguroStrinng

ORDERS_DATABASE_URL=postgresql://orders-db_owner:asdas@ep-royal-haze-a5i018tu.us-east-2.aws.neon.tech/orders-db?sslmode=require